# Updated requirements file generated on 2025-04-10 08:14:59
# Original file: requirements_k8s.txt
# All packages were updated to their latest versions
#

apscheduler==3.11.0
asgiref==3.8.1
attrs==25.3.0
authlib==1.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==43.0.3
defusedxml==0.7.1
django==5.2
django-cleanup==9.0.0
django-cors-headers==4.7.0
django-rest-auth==0.9.5
django-prometheus==2.3.1
django-session-timeout==0.1.0
django-vite==3.1.0
djangorestframework==3.16.0
djangorestframework-jwt==1.11.0
elementpath==4.8.0
gevent==24.11.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
launchdarkly-server-sdk==9.10.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==9.2.0
mysqlclient==2.2.7
names==0.3.0
packaging==24.2
pycparser==2.22
pycryptodomex==3.22.0
pydantic==2.11.3
pydantic_core==2.33.1
pyjwt==1.7.1
pyopenssl==24.2.1
pysaml2==7.5.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
timeago==1.0.16
typing_extensions==4.13.1
tzlocal==5.3.1
urllib3==2.3.0
xmlschema==2.5.1
xmltodict==0.14.2
